*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

/* nav-bar */

li, a, button {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
    color: #272361;
    text-decoration: none;
}

header,footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 12%;
    background-color: #c3c0b8;
}

content{
    background-color: #b19944;
}


.logo{
    width: 100px;
    height: 60px;
    cursor: pointer;
}

.nav_links{
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #0088a9
}

button {
    padding: 9px 25px;
    background-color: #f79421;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(184,98,0,0.8);
}

body{
    background:linear-gradient(to right, #585552, #c0b18e);
}

/* Footer */

#Contact_footer{
    color:#272361;
    position: relative;
    top: 15px;
}

.logo_contact{
    width: 150px;
    height: 100px;
}

form { max-width:420px; margin:50px auto; }

.feedback-input {
  color:white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #d38e3f;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid #f79421; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

.submit {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:#d38e3f;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}

.submit:hover { background:#f79421; }

.Social-media{
    color:#272361;
    position:relative;
    top:-8rem;
    left:6rem;
}

.Social-button {
    position:relative;
    top:-4rem;
    left:11rem;
    transform: translate(-50%, -50%);
    margin:0;
    padding:0;
    display:flex;
  }
  
  .Social-button li {
    list-style: none;
  }
  
  .Social-button li a {
    position: relative;
    width:60px;
    height:60px;
    display:block;
    text-align:center;
    margin:0 10px;
    border-radius: 50%;
    padding: 6px;
    box-sizing: border-box;
    text-decoration:none;
    box-shadow: 0 10px 15px rgba(0,0,0,0.3);
    background: linear-gradient(0deg, #ddd, #fff);
    transition: .5s;
  }
  
  .Social-button li a:hover {
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    text-decoration:none;
  }
  
  .Social-button li a .fab {
    width: 100%;
    height:100%;
    display:block;
    background: linear-gradient(0deg, #fff, #ddd);
    border-radius: 50%;
    line-height: calc(60px - 12px);
    font-size:24px;
    color: #262626;
    transition: .5s;
  }
  
  .Social-button li:nth-child(1) a:hover .fab {
    color: #3b5998;
  }
  
  .Social-button li:nth-child(2) a:hover .fab {
    color: #00aced;
  }
  
  .Social-button li:nth-child(3) a:hover .fab {
    color: #dd4b39;
  }
  
  .Social-button li:nth-child(4) a:hover .fab {
    color: #007bb6;
  }
  
  .Social-button li:nth-child(5) a:hover .fab {
    color: #e4405f;
  }

  .locatie{
    color:#272361;
    position: relative;
    top:0em;
    left:8em;
    }

  iframe{
    position:relative;
    top:2em;
    right:-2em;
    }

  .nume{
    color:#272361;
    position:relative;
    top:3em;
    right:0em;
  }

  /* anunt */

  .box-anunt{
    background-color: #c3c0b8;
    padding: 10px;
    display: flex;
    margin-top: 8%;
    margin-bottom: 8%;
    margin-left: 8%;
    margin-right: 8%;
    border-radius: 40px;
    height: 800px;
    border: 2px solid #f79421;
    box-shadow: 0px 2px 4px 0px rgba(12,18,18,0.1)
}

.anunt{
    display: flex;
}

.anunt_text{   
    color: #f79421;
    font-style: bold;
    position: relative;
    right: 100px;
    top: 300px;
}

.poza_anunt1{
    width: 100%;
    height: 500px;
    position: relative;
    top:3%;
    left:4%;
    border-radius: 40px;
    border: 2px solid #f79421;
    box-shadow: 0px 2px 4px 0px rgba(12,18,18,0.1)
}

.link_titlu1{
  text-decoration:none;
  cursor: pointer;
}

.titlu_anunt1{
  position: relative;
  top:5%;
  left:220px;
  color:#f79421;
  font-style:bold;
}

.descriere_anunt1{
  position: relative;
  top:200px;
  left:150px;
  color:#272361;
  font-style:bold;
}

.camere_anunt1{
  position: relative;
  top:350px;
  left:-170px;
  color:#272361;
  font-style:bold;
}

.suprafata_anunt1{
  position: relative;
  top:350px;
  left:150px;
  color:#272361;
  font-style:bold;
}

.oras_anunt1{
  position: relative;
  top:500px;
  left:-100px;
  color:#272361;
  font-style:bold;
}

.pret_anunt1{
  font-size: 50px;
  position: relative;
  top:650px;
  left:-50px;
  color:#f79421;
  font-style:bold;
}

.telefon_contact1{
  font-size: 50px;
  position: absolute;
  top:900px;
  left:400px;
  color:#f79421;
  font-style:bold;
}
